@font-face {
    font-family: Silent_Reaction;
    src: url('../fonts/Silent Reaction.ttf');
}

@font-face {
    font-family: SFPRODISPLAYREGULAR;
    src: url('../fonts/SFPRODISPLAYREGULAR.OTF');
}

@font-face {
    font-family: SFProDisplayLight;
    src: url('../fonts/FontsFree-Net-SFProDisplay-Light.ttf');
}
@font-face {
    font-family: SFProDisplayThin;
    src: url('../fonts/FontsFree-Net-SFProDisplay-Thin.ttf');
}

body {
    background: #0A090C;
    margin: 0;
}
.vw-vh-100 {
    /*width: 100vw;*/
    /*height: 100vh;*/
}
/*#saranaz-text-box { transition: ease-in-out 0.5s }*/
.slider-gap { gap: 20px }

.main-home-content {
    /*overflow: hidden;*/
    height: 100vh;
    overflow-x: hidden;
}
.h1-font-sizes {
    font-size: 102px;
    font-family: SFPRODISPLAYREGULAR;
}
.saranaaz-text {
    color: #2ECDFF;
    font-family: Silent_Reaction;
    font-size: 102px;
    top: 83px
}
.p-fontSize {
    font-size: 14px;
}
/*-------------------------------------------- FONT FAMILY -------------------------- */
.SFProDisplay-Light { font-family: SFProDisplayLight }
.SFProDisplay-Thin { font-family: SFProDisplayThin }
/*-------------------------------------------- BACKGROUND COLOR ---------------- */
.contact-btn-bg { background-color: #2ECDFF }
/*-------------------------------------------- COLOR -------------------------- */
.hi-c { color: #E4EFF6; }
.light-font-c { color: #A5B6C1 }
.c-w { color: white }
/*-------------------------------------------- HEIGHT -------------------------- */
.h-fit { height: fit-content }
/*-------------------------------------------- RADIUS -------------------------- */
.radius-10 { border-radius: 10px }
/*-------------------------------------------- WIDTH -------------------------- */
.w-max {
    width: max-content;
}
.black-ellipse {
    position: absolute;
    width: 817px;
    height: 893px;
    left: 277px;
    top: -92px;
    background: url("../img/Group 1.png");
}
.color-ellipse {
    position: absolute;
    width: 1304px;
    height: 966px;
    left: -115px;
    top: -124px;
    background: url("../img/Group 118.png");
}
.ellipse-1 {
    width: 307px;
    height: 307px;
    left: 364px;
    top: -25px;
}
.ellipse-9 {
    width: 139px;
    height: 139px;
    left: 554px;
    top: 617px;
}
.ellipse-9_2 {
    width: 500px;
    height: 500px;
    left: -115px;
    top: 154px;
    opacity: 0.5;
}
.ellipse-5 {
    width: 307px;
    height: 307px;
    left: 371px;
    top: 535px;
}
.ellipse-6 {
    width: 307px;
    height: 307px;
    left: 764px;
    top: -92px;
}
.ellipse-8_2 {
    width: 500px;
    height: 600px;
    left: 823px;
    top: -239px;
    opacity: 0.70;
}
.ellipse-10 {
    left: 750px;
    top: 295px;
    z-index: -2;
    opacity: 0.5;
}
.ellipse-11 {
    width: 500px;
    height: 500px;
    left: 347px;
    top: 34px;
    z-index: 1;
}

.ellipse-12 {
    width: 307px;
    height: 307px;
    left: -97px;
    top: -124px;
}
.ellipse-13 {
    width: 500px;
    height: 500px;
    left: 174px;
    top: 108px;
    z-index: 1;
    opacity: 0.6;
}
/*.ellipse-14 {*/
/*    left: -218px;*/
/*    top: -282px;*/
/*    z-index: 1;*/
/*}*/
.ellipse-14 {
    position: absolute;
    left: 7px;
    top: 126px;
    width: 500px;
    height: 349px;
    transform: scale(0.4);
    /* background-position-y: 50px; */
    filter: blur(289px);
    background-image: radial-gradient(circle, #ff9c64 0%, rgba(0,212,255,0) 100%);
    background-position-y: 50px;
}
.ellipse-15 {
    width: 800px;
    height: 800px;
    left: -194px;
    top: 109px;
    opacity: 0.25;
}
.ellipse-7 {
    width: 307px;
    height: 307px;
    left: 787px;
    top: 138px;
}
.home {
    position: relative;
    width: 1440px;
    height: 900px;
    background: #0A090C;
}
.home-bg {
    position: relative;
    /* width: 400px; */
    /* height: 600.15px; */
    /* left: 499px; */
    /* top: 20vh; */
    /* background-position-x: 477px; */
    background-size: auto;
    /* padding-top: 200px; */
    /* z-index: -1; */
    /* background-repeat: no-repeat; */
    /* height: 100vh;*/
}

.portfollo-width {
    width: 400px;
    position: absolute;
    /*height: 600.15px;*/
    left: 446px;
    top: 210px;
    /* padding-left: 475px; */
    /* padding-top: 200px; */
}
.main-content-space {
    top: 20%;
    left: 415px;
}
@media (max-width: 966px) {
    .main-content-space{ left: 0 }
    .saranaaz-image-space { text-align: center }
    .portfollo-width {
        position: relative;
        top: 0;
        left: 0;
    }
}